.expenses-table{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* .expenses-table td{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.expenses-table th, .expenses-table td{
  text-align: center;
  vertical-align: baseline;
}